.card {
  float:left;
  width: 150px;
  height: 210px;
  background-color: #F0F0F0;
  padding: 5px;
  margin: 5px;
  font-size: 12px;
}

.edgeText {
  float:left;
  width: 4%;
  height: 100%;
  word-wrap:break-word;
}
/*
.cardHeader {
  font-style: oblique;
}
*/
.cardBody {
  float: left;
  width: 86%;
  height: 100%;
  margin: 3%;
}

.upsideDown {
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
  float: left;
  bottom: 0;
  width: 4%;
  height: 100%;
}